
$main-color : #010101 ;

$main-second-color : #ffffff ;

$second-color : #838383 ; 

$third-color : #13cae2 ;

$fourth-color : #fff000 ;

$fourth-color-lighter : rgba(255,252,204,1);

$bg-color-header : #1a1a1a;

$bg-color-main : #ffffff;

$bg-color-second :#1a1a1a;

$error-color : #F7584E;


/*GALLERY*/
 

$gallery_span__grey : #b3babd ;

$image_filtre-1 : rgba(20, 141, 131, 0.7);

$image_filtre-2 : rgba(136, 37, 48, 0.7);

$image_filtre-3 : rgba(76, 153, 165, 0.7);

$image_filtre-4 : rgba(170, 130, 117, 0.7);

$image_filtre-5 : rgba(212, 101, 44, 0.7);

$image_filtre-6 : rgba(44, 212, 198, 0.7);